<!-- header start -->
<div class="navbar-area">
  <!-- adbar end-->
  <div class="adbar-area d-none d-lg-block">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-5 align-self-center">
          <div class="logo text-md-left text-center">
            <a class="main-logo" href="index.html"
              ><img
                src="assets/img/nla-logo-tp-noshad-stroke.png"
                alt="img"
            /></a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-7 text-md-right text-center">
          <a href="#" class="adbar-right">
            <img src="assets/img/gojo-banner.png" alt="img" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- adbar end-->

  <!-- navbar start -->
  <nav class="navbar navbar-expand-lg">
    <div class="container nav-container">
      <div class="responsive-mobile-menu">
        <div class="logo d-lg-none d-block">
          <a class="main-logo" href="index.html"
            ><img src="assets/img/nla-logo-tp-noshad.png" alt="img"
          /></a>
        </div>
        <button
          class="menu toggle-btn d-block d-lg-none"
          data-target="#nextpage_main_menu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-left"></span>
          <span class="icon-right"></span>
        </button>
      </div>
      <div class="nav-right-part nav-right-part-mobile">
        <a class="search header-search" href="#" id="mobile-search-btn"
          ><i class="fa fa-search"></i
        ></a>
      </div>
      <div class="collapse navbar-collapse" id="nextpage_main_menu">
        <ul class="navbar-nav menu-open">
          <li>
            <a href="index.html">ANASAYFA</a>
          </li>
          <li>
            <a href="category.html?slug=anime">ANİME</a>
          </li>
          <li>
            <a href="category.html?slug=manga">MANGA</a>
          </li>
          <li>
            <a href="category.html?slug=manhwa">MANHWA</a>
        </li>
          <li class="menu-item-has-children current-menu-item">
            <a href="#">KATEGORİ</a>
            <ul class="sub-menu">
              <li><a href="category.html?slug=haber">HABER</a></li>
              <li><a href="category.html?slug=liste">LİSTE</a></li>
              <li><a href="category.html?slug=inceleme">İNCELEME</a></li>
              <li><a href="category.html?slug=teori">TEORİ</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="nav-right-part nav-right-part-desktop">
        <div class="menu-search-inner">
          <form class="search-form" id="desktop-search-form">
            <input type="text" id="desktop-search-input" placeholder="Sitede ara..." autocomplete="off" />
            <button type="submit" class="submit-btn" id="desktop-search-btn">
              <i class="fa fa-search"></i>
            </button>
          </form>
          <div class="search-results-dropdown" id="desktop-search-results">
            <!-- Dynamic search results will appear here -->
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<!-- Search Popup Modal -->
<div class="td-search-popup" id="td-search-popup">
  <!-- Header with Search -->
  <div class="search-popup-header">
    <div class="search-header-content">
      <input type="text" id="mobile-search-input" placeholder="Post başlığında ara..." autocomplete="off" />
    </div>
    <button class="search-close-btn" id="search-close-btn">
      <i class="fa fa-times"></i>
    </button>
  </div>

  <!-- Search Content -->
  <div class="search-popup-content">
          <!-- Search Results -->
    <div class="search-results-mobile" id="mobile-search-results">
      <!-- Dynamic search results will appear here -->
    </div>
  </div>
</div>

<!-- navbar end --> 