<form class="single-newsletter-inner bg-blue text-center" id="newsletter-form">
  <h5>Haber Bülteni</h5>
  <p>En güncel haberleri ve içeriklerimizi kaçırmayın. Her yeni post paylaşıldığında size haber verilecektir.</p>
  <div class="single-input-inner">
    <input type="text" id="newsletter-name" placeholder="Adınızı Girin" required />
  </div>
  <div class="single-input-inner">
    <input type="email" id="newsletter-email" placeholder="E-posta Adresinizi Girin" required />
  </div>
  <button type="submit" class="btn btn-white w-100">Abone Ol</button>
</form> 