<div class="category-sitebar">

  <div class="widget widget-quote-of-day">
    
    <div class="quote-container">
      <div class="quote-icon">
        <i class="fa fa-quote-left"></i>
      </div>
      <div class="quote-content">
        <blockquote class="quote-text" id="daily-quote">
          Yükleniyor...
        </blockquote>
        <div class="quote-attribution">
          <div class="attribution-item">
            <span class="attribution-label">Karakter:</span>
            <span class="character-name" id="quote-character">...</span>
          </div>
          <div class="attribution-item">
            <span class="attribution-label">Anime:</span>
            <span class="anime-name" id="quote-anime">...</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="widget widget-add">
    <div class="add">
      <img class="w-100" src="assets/img/adspace-sidebar.png" alt="img" />
    </div>
  </div>

  <div class="widget widget-twitter-follow">
    <div class="twitter-follow-container">
      <a href="https://twitter.com/nolifeanime" target="_blank" class="btn-twitter-follow">
        <div class="twitter-follow-content">
          <div class="twitter-icon-wrapper">
            <span class="x-logo">𝕏</span>
          </div>
          <div class="twitter-follow-text">
            <span class="follow-text">Bizi X'te Takip Edin</span>
            <span class="follow-subtitle">En güncel haberler için</span>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <div class="widget">
    <div class="newsletter-container" id="sidebar-newsletter"></div>
  </div>
</div> 