<div class="category-sitebar">
  <div class="widget widget-social">
    <h6 class="widget-title">Join to Us</h6>
    <ul class="social-area social-area-2">
      <li>
        <a class="facebook-icon" href="#"
          ><i class="fa fa-facebook"></i
        ></a>
      </li>
      <li>
        <a class="twitter-icon" href="#"
          ><i class="fa fa-twitter"></i
        ></a>
      </li>
      <li>
        <a class="youtube-icon" href="#"
          ><i class="fa fa-youtube-play"></i
        ></a>
      </li>
      <li>
        <a class="instagram-icon" href="#"
          ><i class="fa fa-instagram"></i
        ></a>
      </li>
      <li>
        <a class="google-icon" href="#"
          ><i class="fa fa-google-plus"></i
        ></a>
      </li>
    </ul>
  </div>

  <div class="widget widget-add">
    <div class="add">
      <img class="w-100" src="assets/img/adspace-sidebar.png" alt="img" />
    </div>
  </div>
  
  <div class="widget" id="spotify-widget">
    <h6 class="widget-title">Anime Music Player</h6>
    <div class="anime-music-widget">
      <div class="spotify-container">
        <!-- Spotify Playlist Embed -->
        <iframe
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/43Qfx5lPp73P0IducuEtY2?utm_source=generator&autoplay=1"
          width="100%"
          height="420"
          frameborder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>

  <div class="widget">
    <form class="single-newsletter-inner bg-blue text-center">
      <h5>Newsletter</h5>
      <p>Stay Updated on all that's new add noteworthy</p>
      <div class="single-input-inner">
        <input type="text" placeholder="Enter Your Name" />
      </div>
      <div class="single-input-inner">
        <input type="text" placeholder="Enter Your Email" />
      </div>
      <a class="btn btn-white w-100" href="#">Subscribe Now</a>
    </form>
  </div>
</div> 